extends ../layouts/admin.pug

block contenidoMain
    div(class="py-2")
        h1(class="text-4xl mb-6 font-extrabold text-center") Bienes
            span.font-normal Raices
        h2(class= "text-center font-extrabold text-2xl")= page

        div(class="flex md:flex-col gap-2 my-4 w-full")
        a(href="/properties/create" class="rounded bg-indigo-500 py-2 px-6 text-center text-white uppercase hover:bg-indigo-700 ") Publicar propiedad

        //- pre= JSON.stringify(propiedades, undefined, 2)

        if propiedades.length 
            div(class="bg-white shadow rounded-lg")
                ul(class="divide-y divide-gray-400 mt-4")
                    each propiedad in propiedades 
                        li
                            div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4 sm:space-y-0")
                                div(class="sm:w-1/4 md:w-1/6")
                                    img(src=`uploads/${propiedad.image}` alt=`propiedad ${propiedad.title}` class="w-full block")
                                div(class="sm:w-2/4 md:w-3/6 lg:w-4/6")
                                    a(class="truncate font-extrabold block text-xl text-indigo-600" href=`/property/${propiedad.id}`)= propiedad.title

                                    p(class="text-sm text-gray-600")= propiedad.categoria.name 

                                    p(class="text-sm text-gray-700 flex items-center gap-2")
                                        svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2")
                                            path(stroke-linecap="round" stroke-linejoin="round" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z")
                                        span= propiedad.precio.name
                                div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col gap-2")
                                    form(action="#" class="flex justify-center w-full")
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        input(type="submit" class=`w-full px-2 py-2 md:py-1 cursor-pointer text-xs leading-5 font-semibold rounded ${propiedad.published ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'}` value=`${propiedad.published ? 'Publicado' : 'Sin publicar'}`)

                                    a(class="px-2 py-2 md:py-1 text-xs text-center leading-5 font-semibold rounded bg-indigo-300 text-indigo-800" href=`/propetries/edit/${propiedad.id}`) Editar

                                    form(action=`/propetries/delete/${propiedad.id}` method="POST" class="flex justify-center w-full")
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        input(type="submit" class='w-full px-2 py-2 md:py-1 text-xs cursor-pointer leading-5 font-semibold rounded bg-red-300 text-red-800' value='Eliminar')
        else 
            p.text-center.mt-4 Aún no tiene propiedades publicadas