extends ../layouts/admin.pug

block contenidoMain
    h2(class= "text-center font-extrabold text-2xl")= page

    //- pre= JSON.stringify(messages, undefined, 2)

    a(href="/my-properties" class="rounded bg-indigo-500 py-2 px-6 text-center text-white hover:bg-indigo-700") Volver

    div(class="mx-auto max-w-4xl bg-white shadow my-8")
        if messages.length 
            ul 
                each message in messages 
                    li(class="border-gray-200 border-b p-5")
                        p(class="font-bold text-gray-800") Nombre: 
                            span(class="font-normal")= message.usuario.name
                        p(class="font-bold text-gray-800") Email: 
                            span(class="font-normal")= message.usuario.email
                        p(class="font-bold text-gray-800") Mensaje: 
                            span(class="font-normal")= message.message
                        p(class="font-bold text-gray-800") Enviado: 
                            span(class="font-normal")= message.createdAt
        else 
            p(class="text-center text-gray-600 p-5") No hay mensajes